<div class="about">
    <img src="../../../assets/logo.png" alt="Logo de Damper" srcset="">
    <h2>A propos de Damper</h2>
    <p>
        Damper est une mini application conçue pour la gestion et la suivie des amortissements des immobilisations
        au sein d'une entreprise. Elle permet égalemet d'exporter les informations sur tout le parc d'immobilisations, et/ou sur une
        immobilisation précise au format Excel, pour permettre une future utilisation de ces données.
    </p>
    <p>
        Réalisé par <a href="http://diamiba.tech" title="Diamiba Tech" target="blank">Diamiba Tech</a>. Pour toutes suggestions, bugs, ou plus
        d'informations, merci de nous contacter au <a href="mailto:contact@diamiba.tech">contact@diamiba.tech</a>
    </p>
</div>
