<div *ngIf="!notFound">
    <h5><a routerLink="/assets">Retour</a></h5>
    <h2>Informations sur le bien</h2>
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="8">
            <nz-statistic [nzValue]="concernedItem.acquisitionPrice | number" [nzTitle]="'Valeur initiale'">
            </nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="8">
            <nz-statistic [nzValue]="concernedItem.sumOfDotationsAsToday | number: '1.0-2'"
                [nzTitle]="'Cumul des amortissements à ce jour'"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="8">
            <nz-statistic
                [nzValue]="(concernedItem.acquisitionPrice - concernedItem.sumOfDotationsAsToday) | number: '1.0-2'"
                [nzTitle]="'VNA à ce jour'"></nz-statistic>
        </nz-col>
    </nz-row>
    <nz-descriptions nzTitle="Informations générales" nzBordered
        [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }" [nzSize]="'small'">
        <nz-descriptions-item nzTitle="Nom du bien">{{concernedItem.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Montant">{{concernedItem.acquisitionPrice }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Date d'acquisition">{{concernedItem.acquisitionDate | date:'EEEE d MMMM y' }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Durée d'utilisation prévue">{{concernedItem.economicDuration }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Type d'amortissement">{{concernedItem.amoritizationType }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Date d'ajout">
            {{concernedItem.addedDate | date:'EEEE d MMMM y, à HH\'h\'mm\'mn\'' }}
        </nz-descriptions-item>
    </nz-descriptions>
    <!-- <table>
        <thead>
            <tr>
                <th>Nom du bien</th>
                <th>Durée d'utilisation</th>
                <th>Montant d'acquisition</th>
                <th>Type d'amortissement</th>
                <th>Date d'acquisition</th>
                <th>Date d'ajout</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{concernedItem.name}}</td>
                <td>{{concernedItem.acquisitionPrice }}</td>
                <td>{{concernedItem.acquisitionDate | date:'d/MM/y' }}</td>
                <td>{{concernedItem.economicDuration }}</td>
                <td>{{concernedItem.amoritizationType }}</td>
                <td>{{concernedItem.addedDate | date:'d/MM/y' }}</td>
            </tr>
        </tbody>
    </table> -->

    <h3 class="table-title">Plan d'amortissement</h3>
    <nz-table #basicTable [nzData]="listOfData" [nzFrontPagination]=false>
        <thead>
            <tr>
                <th>Année</th>
                <th>Dotation Linéaire</th>
                <th>Dotation</th>
                <th>Taux</th>
                <th>Cumul Des Dotations</th>
                <th>Valeur Nette d'amortissement</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ data.year }}</td>
                <td>{{ data.linearDotation | number: '1.0-2' }}</td>
                <td>{{ data.value | number: '1.0-2' }}</td>
                <td>{{ data.rate | percent}}</td>
                <td>{{ data.sumOfDotations | number: '1.0-2' }}</td>
                <td>{{ data.remainingDotations | number: '1.0-2' }}</td>
            </tr>
        </tbody>
    </nz-table><br>
    <div class="text-center my-1">
        <button nz-button nzType="primary" class="mx-auto" (click)="editAssetDetails(concernedItem)">
            <i nz-icon nzType="edit" nzTheme="fill"></i>Modifier les informations
        </button>
        <button nz-button nzType="primary" class="mx-auto" (click)="exportAsXlsx()">
            <i nz-icon nzType="download" nzTheme="outline"></i>Exporter en xlsx
        </button>
        <button nz-button nzType="primary" class="mx-auto" (click)="deleteAsset(concernedItem)">
            <i nz-icon nzType="delete" nzTheme="fill"></i>Supprimer ce bien
        </button>
        <button nz-button nzType="primary" class="mx-auto" (click)="navSvc.gotoAllAssets()">
            <i nz-icon nzType="caret-left" nzTheme="fill"></i>Retour
        </button>
    </div>
</div>
<div *ngIf="notFound" class="text-center">
    <nz-empty [nzNotFoundImage]="
          'https://gw.alipayobjects.com/mdn/miniapp_social/afts/img/A*pevERLJC9v0AAAAAAAAAAABjAQAAAQ/original'
        " [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
        <ng-template #contentTpl>
            <span> Le bien que vous essayez de voir n'a pas été trouvé. Il se peut qu'il ait été supprimé, ou que vous
                avez cliqué sur un mauvais lien </span>
        </ng-template>
        <ng-template #footerTpl>
            <button nz-button nzType="primary" routerLink="/assets">Afficher la liste de toutes les
                immobilisations</button>
        </ng-template>
    </nz-empty>
    <!-- <h3>Shit not found</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aperiam animi cupiditate similique eum
        doloremque,
        voluptates cum, inventore neque temporibus provident pariatur iste, tenetur excepturi! Eum quod perferendis
        eaque
        labore!
    </p> -->

</div>
